{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block container %}
<div class="example-wrapper">
    <h1>Se connecter !</h1>

    {% if error %}
        <p class="text-danger">{{ error.messageKey }} </p>
    {% endif %}

    <form action="{{ path('login') }}" method="post">

    <input type="text" name="_username" value="{{ lastUsername }}" placeholder="Email de votre compte">
    
    <input type="password" name="_password">

    <button type="submit">Connexion</button>

    </form>

</div>
{% endblock %}
