 <div class="card">
    <h5 class="card-header">Etudiant</h5>
    <div class="card-body">
        <h5 class="card-title">{{ etudiant.prenom ~ ' ' ~ etudiant.nom }}</h5>
        <p class="card-text">Cet élève est un élève de notre établissement.</p>
    </div>
</div>